.App {
  text-align: center;
}

.App-header {
  background-color: rgb(132, 36, 97);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: ghostwhite;
}

h1 {
  color: rgb(193, 152, 20);
}

body {
  background-color: #282c34;
}

.games {
  display: flex;
  width: 100%;
  justify-items: space-evenly;
}

.Game-box {
  color: ghostwhite;
}

.game-window {
  width: 80%;
  height: 80vh;
}

figure {
  border: 3px solid rgb(193, 152, 20);
  border-radius: 5%;
  width: 100px;
  font-size: small;
}

img {
  padding: 5px;
  height: 75px;
  width: 75px;
}