.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: rgb(132, 36, 97);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: ghostwhite;
}

h1 {
  color: rgb(193, 152, 20);
  background-color: rgb(132, 36, 97);
  min-height: 15vh;
  width: 100%;
  justify-self: center;
  margin: 0;
  text-align: center;
}

body {
  background-color: #282c34;
}

.games {
  display: flex;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 10%;
  height: 85vh;
}

.Game-box {
  color: ghostwhite;
  margin-left: 2em;
}

.game-window {
  width: 50vw;
  height: 80%;
}

iframe {
  zoom: 0.65;
}

figure {
  border: 3px solid rgb(193, 152, 20);
  border-radius: 5%;
  width: 100px;
  height: 100px;
  font-size: small;
  justify-items: center;
  margin: 10px; 
}

img {
  width: 95%;
  height: 75%;
}